<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="io.github.dmitrikudrenko.sample">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".GeraltApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">

        <activity android:name=".ui.RootActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- women -->
        <activity android:name=".ui.women.details.GeraltWomanActivity"/>
        <activity
            android:name=".ui.women.photos.GeraltWomanPhotosActivity"
            android:theme="@style/PhotosTheme"/>

        <!-- video -->
        <activity
            android:name=".ui.video.player.VideoPlayerActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:label="@string/video"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:theme="@style/PhotosTheme"
            tools:ignore="UnusedAttribute"/>
        <activity
            android:name=".ui.video.queue.VideoQueueActivity"
            android:label="@string/video"
            android:launchMode="singleTop"
            android:theme="@style/PhotosTheme"/>

        <activity
            android:name=".cast.ExpandedControlsActivity"
            android:label="@string/video"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/PhotosTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="io.github.dmitrikudrenko.sample.cast.CastOptionsProvider"/>
    </application>
</manifest>
